body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.anuncio {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #b8b0b0;
}

.topo {
    text-align: center;
}

.btn {
    display: block;
    margin-top: 10px;
    background-color: #c6d3e0;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.produtos {
    display: flex;
    justify-content: space-around;
}

.produtos img {
    width: 30%;
}

.contatos {
    margin-top: 20px;
}

.contatos h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    margin-top: 10px;
}

ul li img {
    width: 20px;
}
