body{
    color: white;
    background-color: rgb(47, 236, 40);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.anuncio {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px;
}

.topo {
    text-align: center;
}

.btn {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.produtos {
    display: flex;
    justify-content: space-around;
    padding: right 50px;
}

.produtos feijão{
    width: 30%;
}

.produtos img {
    width: 30%;
}

.contatos {
    margin-top: 50px;
}

.contatos h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    margin-top: 10px;
}

ul li img {
    width: 100px;
}
